<div id="js-parallax-window" class="parallax-window">
  <div class="parallax-static-content">
    <h1>Liquid Bourbon Middleman Template</h1>
    <small>By <a href="https://github.com/Palmaswell">PalmaSwell</a></small>
  </div>
  <div id="js-parallax-background" class="parallax-background"></div>
</div>
