<div>
    <button type="button" class="js-menu-trigger sliding-menu-button">
      <img src="app/images/menu-white.png" alt="Menu Icon">
    </button>
    <nav class="js-menu sliding-menu-content">
      <ul>
        <li><a href="/grains.html">Grains</a></li>
        <li><a href="/mash.html">Mash</a></li>
        <li><a href="/barrels.html">Barrels</a></li>
      </ul>
    </nav>
    <div class="js-menu-screen menu-screen"></div>
</div>
