{% comment %}
    Atomic CSS translated in the bourbon language
    Malt/Grain - Unit
    Mash - Unit Composition
    Barrel - Module
{% endcomment %}
<section class="b-layout">
{% include 'app/includes/tabs' %}
{% include 'app/includes/intro' %}
{% include 'app/includes/navigation' %}
{% include 'app/includes/tabbar' %}
</section>
